# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
/instantcms_20150331_v2.2.1.tgz
/cache/content/
/cache/menu/
/cache/users/
/cache/widgets/
/cache/events.dat
